//- Для отдельных страниц - если не синглпейдж сайт
extends includes/layout
block content
	#view-404.sections
		section
			.container
				.content
					h4 404 Страница не найдена

//- #view-404.sections

//- 	section
//- 		.container
//- 			.content

//- 				h4 404 Страница не найдена



