//- Для синглпейджа
//- #view-404.view
//- 	.sections
//- 		section
//- 			.container
//- 				.content
//- 					h4 404 Страница не найдена

extends includes/layout

block content
	#view-404.view
		.sections
			section
				.container
					.content
						h4 404 Страница не найдена



