//- Для синглпейджа
	#view-home.view
		.main-container
			.view-content
				h4 Content

extends includes/layout

block content
	#view-home.view(ng-controller="viewHomeCtrl")
		.main-container
			.view-content
				h1 Content
