//- Для синглпейджа
//- #view-home.sections
//- 	section
//- 		.container
//- 			.content
//- 				h4 Section 1
//- 	section
//- 		.container
//- 			.content
//- 				h4 Section 2

extends includes/layout

block content
	#view-home.sections(data-ng-controller="homeCtrl")
		section
			.container
				.content
					h4 Section 1

		section
			.container
				.content
					h4 Section 2

