//- Для синглпейджа
	#view-home.view
		.main-container
			.view-content
				h4 Content

extends includes/layout

block content
	#view-home.view(data-ng-controller="homeCtrl")
		.main-container
			.view-content
				h1 Content
