

section.section-1

	.container
		.content

			include includes/links

			h1 {{title}}

			.row

				h4 Секция 1

				.items
					
					input(ng-model="query")


section.section-2

	.container
		.content

			h4 Секция 2

			.list(ng-repeat="phone in phones | filter:query")
					p {{phone.name}}

			.row
				button(ng-click="add()") Добавить



