
// APP MIXINS

// Ширина контейнера с контентом
$mainWidth = 900

// Главный шрифт
$mainFont = Ubuntu

font-family(name)
	line-height 1
	font-family name, helvetica,verdana,arial,tahoma

font(size,name)
	//font-size unit(size*6.5, '%') convert px to percents
	font-size size
	font-family name

bg(filename, arguments=false)
	if !arguments
		arguments = center center
	background url($root + 'img/' + filename) no-repeat arguments


// Buttons
// btn-blue()
// 	color #fff
// 	font 16px $mainFont
// 	display table
// 	border-radius 5px
// 	background #005697
// 	text-align center
// 	span
// 		margin 10px 15px
// 		white-space nowrap
// 		block()
