
<section class="section-1">
  <div class="container">
    <div class="content">
      <div class="links"><a href="#/page">page-1</a> <a href="#/page/2">page-2</a></div>
      <h1>{{title}}</h1>
      <div class="row">
        <h4>Секция 1</h4>
        <div class="items">
          <input ng-model="query"/>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-2">
  <div class="container">
    <div class="content">
      <h4>Секция 2</h4>
      <div ng-repeat="phone in phones | filter:query" class="list">
        <p>{{phone.name}}</p>
      </div>
      <div class="row">
        <button ng-click="add()">Добавить</button>
      </div>
    </div>
  </div>
</section>