
<section class="section-1">
  <div class="container">
    <div class="content">
      <div class="links"><a href="#/page">page-1</a> <a href="#/page/2">page-2</a></div>
      <h1>{{ title }}</h1>
      <div class="row">
        <button ng-click="request()">Request</button>
        <div class="layer">{{response}}</div>
      </div>
      <div class="row">
        <button ng-click="show('test', $event)">Show</button>
        <div ng-show="state == 'show'" class="layer">Hello</div>
      </div>
    </div>
  </div>
</section>