header
	.container
		.content

			.logo: h5: a(href="#/") HEADER

			nav#menu
				ul
					li: a.active(href="https://github.com/vinsproduction/angular_skeleton/wiki", target="_blank"): span Wiki
					li.separator
					li: a(href="#"): span Link
					li.separator
					li: a(href="#"): span Link