/* LAYOUT */
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1;
  font-family: Ubuntu, helvetica, verdana, arial, tahoma;
}
body > main {
  position: relative;
  min-height: 100%;
  width: 100%;
}
body > main .main-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}
body > main .main-container:before,
body > main .main-container:after {
  content: " ";
  display: table;
}
body > main .main-container:after {
  clear: both;
}
/*_________ HEADER __________*/
body > main > header {
  clear: both;
  z-index: 2;
  width: 100%;
}
body > main > header .inner {
  padding: 20px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
/*_________ FOOTER ___________*/
body > main > footer {
  clear: both;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
}
body > main > footer .inner {
  padding: 20px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
/*__________ VIEWS _________*/
body > main > .views {
  clear: both;
  padding-bottom: 60px;
}
body > main > .views > .view {
  position: relative;
}
body > main > .views > .view .view-content {
  padding: 20px 0 60px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
