// ROOT 
$root = '../../../../'
// GLOBAL MIXINS
@require '../../../requires/mixins'
// APP MIXINS
@require '../../requires/mixins'


/* ______ View: 404-page ______ */

#view-404-page
	.main-container
		// 
	.view-content
		//

@require 'requires/404-page.media'
