// __________ ROOT __________
$root = '../../../../'
// ______ GLOBAL MIXINS _____
@require '../../../requires/mixins'
// _______ APP MIXINS ______
@require '../../requires/mixins'


/* ______ View: home ______ */

#view-home
	.main-container
		// 
	.view-content
		//

@require 'requires/home.media'
