// ROOT 
$root = '../../../../'
// GLOBAL MIXINS
@require '../../../requires/mixins'
// APP MIXINS
@require '../../requires/mixins'


/* ______ View: home ______ */

#view-home
	.main-container
		// 
	.view-content
		//

@require 'requires/home.media'
