
/* ______ Media: layout ______ */

@media (max-width: ($mainWidth)px)

	body > main
		.main-container
			width auto
			
	body > main > header
		.inner
			padding-left 10px
			padding-right 10px
	
	body > main > footer
		.inner
			padding-left 10px
			padding-right 10px

	body > main > .views
		> .view
			.view-content
				padding-left 10px
				padding-right 10px
	



