
/* 
	===============
	=== PROJECT ===
	===============
*/

/* _________ IMPORT ________*/

@import 'normalize.css'

// _________ MIXINS _________

@require 'mixins'


// _______ КОНСТАНТЫ ________

// Путь до статики
$root = '../'

// Ширина контейнера с контентом
$mainWidth = 1265

// Главный шрифт
$mainFont = Ubuntu

// Вспомогательные элементы
$scaffold = true // false

/* _________ FONTS _________ */

import-font($root + 'fonts/ubuntu-r-webfont','Ubuntu')


//______ UNIQUE MIXINS _____

font-family(name)
	line-height 1
	font-family name, helvetica,verdana,arial,tahoma

font(size,name)
	//font-size unit(size*6.5, '%') convert px to percents
	font-size size
	font-family name

bg(filename, arguments=false)
	if !arguments
		arguments = center center
	background url($root + 'img/' + filename) no-repeat arguments


/* _________ GLOBAL _________

Все глобальные СТИЛИ кнопок, форм, ссылок, списков и тд.
описываются здесь
*/

p
	font 16px $mainFont

h1
	font 36px $mainFont
h2
	font 30px $mainFont
h3
	font 24px $mainFont
h4
	font 18px $mainFont
h5
	font 14px $mainFont
h6
	font 12px $mainFont

ul
	list-style-type none

a
	text-decoration none
	transition all 0.2s
	outline 0
	
a:hover, a:active, a:focus
	outline 0

input:focus, textarea:focus, select:focus, button:focus
	outline 0

input:-webkit-autofill
	-webkit-box-shadow: 0 0 0px 50px #ededed inset




/*_________ MAIN __________*/


html
	height 100%

body
	height 100%
	overflow-x hidden
	overflow-y auto
	font-family $mainFont
	
	if $scaffold is true
		background-color lighten(#000, 13.5%)

	
body > main
	
	relative()
	min-height 100%
	width 100%
	
	// Фон с изображением
	if $scaffold is true
		background-image url('../img/bg.jpg')
		background-repeat repeat-y
		background-position center center

/*_________ HEADER ___________*/

body > main > header
	z-index 2
	width 100%
	height 40px

	if $scaffold is true
		background lighten(#000, 33.5%)

	> .container
		height 100%
		max-width  ($mainWidth)px
		margin 0 auto
		
		if $scaffold is true
			background lighten(#000, 60%)

		> .content
			block-inline()
			width 100%

			.logo
				block-left()
				margin 13px 0 0 10px
				a
					color #000

			nav#menu
				block-right()
				text-transform uppercase
				margin 6px 10px 0 0
				

				ul
					block-inline()
					li
						float left
						margin 0 10px

						&.separator
							border-left solid 1px #d3d3d3
							size 1px 26px
							margin 0
							
						a 
							block-inline()
							relative()
							color #000
							padding 5px 20px
							
							&.active, &:hover
								color #000
								background lighten(#000, 33.5%)




/*_________ FOOTER ___________*/

body > main > footer
	absolute()
	bottom 0
	z-index 2
	width 100%
	height 40px
	
	if $scaffold is true
		background lighten(#000, 20%)

	> .container
		height 100%
		max-width  ($mainWidth)px
		margin 0 auto
		
		if $scaffold is true
			background lighten(#000, 33.5%)

		> .content
			block-inline()
			padding 0 10px
			width ($mainWidth - 10*2)px
			
			.left
				block-left()
				margin 13px 0 0 0
			.right
				block-right()
				margin 13px 0 0 0


/*_________ SECTIONS _________*/

body > main > .view > .sections

	clear both
	width 100%
	padding-bottom 40px // Height of the footer

	// Для всех секций!
	> section
		block-inline()
		relative()
		clear both
		z-index 1
		width 100%
		

		> .container
			relative()
			max-width  ($mainWidth)px
			height 100%
			margin 0 auto

			if $scaffold is true
				background #F2E5D5

			> .content
				// padding 50px 20px


/* _________ VIEWS _________*/


#view-home

	padding 60px 0

	section

		.container
			.content
				padding 0 20px
				h4
					block-left()


#view-404
	@extend #view-home


/* _________ POPUPS ________*/

@require 'popup'

/* _________ MEDIA _________ */

@require 'media'