block view_js_css
	// View [viewName] js/css 
	script.
		$$.includeCSS('css/app/views/[viewName]/[viewName].css');
		$$.includeJS('js/app/views/[viewName]/[viewName].controllers.js');
		$$.includeJS('js/app/views/[viewName]/[viewName].directives.js');
	///View [viewName] js/css 


block content
	#view-[viewName].view(ng-controller="[controllerName]ViewCtrl")
		.main-container
			.view-content
				h1 [viewName]