// ROOT 
$root = '../../../../'
// GLOBAL MIXINS
@require '../../../requires/mixins'
// APP MIXINS
@require '../../requires/mixins'


/* ______ View: [viewName] ______ */

#view-[viewName]
	.main-container
		// 
	.view-content
		//

@require 'requires/[viewName].media'