/* _________ MEDIA _________ */

@require '../mixins'
@require 'app.mixins'

// iPhone (portrait)
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)
	//

// iPhone (landscape)
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape)
	//

// iPad (portrait)
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
	//

// iPad (landscape)
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
	//




