
block view_js_css
	// View home js/css 
	script.
		$$.includeCSS('css/app/views/home/home.css');
		$$.includeJS('js/app/views/home/home.controllers.js');
		$$.includeJS('js/app/views/home/home.directives.js');
	///View home js/css 

block content
	#view-home.view(ng-controller="homeViewCtrl")
		.main-container
			.view-content
				h1 home
