doctype html
html

	head

		//- meta(name='viewport' content='width=1265')
		meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")

		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

		//SEO
		title ANGULAR SKELETON
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Open Graph
		meta(property='og:title' content='')
		meta(property='og:url' content='')
		meta(property='og:image' content='')
		meta(property='og:description' content='')

		//favicon
		link(rel='image_src' href='')
		link(rel="shortcut icon" type="image/x-icon" href="")

		//IE
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta http-equiv="MSThemeCompatible" content="no"/>
		<![endif]-->

		//Apple
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

		<!--[if lt IE 7]>
		style.
			body > main {
				height: 100%;
			}
		<![endif]-->
					
		<!--[if lt IE 9]>
		script(src='js/libs/html5shiv.js')
		<![endif]-->

		//JS helpers 
		script(src='js/libs/helpers.js')

		//GLOBAL VARS
		script.
			window.staticURL = '';
			window.staticVer = 1;

		//Build (for debug)
		script.
			$$.includeJS('build.js?v=' + Math.random());

		//Base js/css
		script.
			(function() {

				if(/^\?debug/.test(window.location.search)){
					console.debug('[DEBUG MODE]');
					console.log('[Debug] build', build);

					var src;

					var cssList = build.css.libs.concat(build.css.main).concat(build.css.base);
					for(var i in cssList) {
						src = staticURL + build.css.list[i] + '?v=' + Math.random();
						$$.includeCSS(src);
					}

					var jsList = build.js.libs.concat(build.js.main).concat(build.js.base);
					for(var i in jsList) {					
						src = staticURL + build.js.list[i] + '?v=' + Math.random();
						$$.includeJS(src);
					}


				}else{
					console.debug('[PRODUCTION MODE] console is disabled');
					
					if(!/^\?console/.test(window.location.search)){
						$$.disableConsole();
					};

					$$.includeCSS(staticURL + 'css/project/libs.min.css?v=' + staticVer);
					$$.includeCSS(staticURL +'css/project/app.min.css?v=' + staticVer);
					$$.includeJS(staticURL + 'js/project/libs.min.js?v=' + staticVer);
					$$.includeJS(staticURL +'js/project/app.min.js?v=' + staticVer);
				}

			})();

		///Base js/css

		block view_js_css
			//- 


		block css
			//-

		block js
			//- 

	body

		//- //Vkontakte openapi
		//- script(src='http://vkontakte.ru/js/api/openapi.js', type='text/javascript')
		//- //Facebook SDK 
		//- #fb-root
		//- script(src='http://connect.facebook.net/en_US/all.js')

		main(ng-controller="mainLayoutCtrl")

			// Header
			include header
			// /Header

			.views(ng-controller="viewsLayoutCtrl")

				// View
				block content
				// /View

			// Footer
			include footer
			// /Footer

		// Popups
		include popups
		// /Popups
