
#popups(data-ng-controller="popupsCtrl")

	.popup(data-popup-name="custom")
		.inner
			.close(data-popup-close)
			.title(data-popup-title)
			.body(data-popup-body)
			.button(data-popup-button): span(data-popup-button-name)

	.popup(data-popup-name="example" )
		.inner
			.close(data-popup-close)
			.content(example-popup-directive)
				.title [[title]]
				.body [[body]]
			.button(data-popup-close): span Закрыть

	.background