doctype html
html

	head

		//- meta(name='viewport' content='width=1265')
		meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")

		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

		//SEO
		title ANGULAR SKELETON
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Open Graph
		meta(property='og:title' content='')
		meta(property='og:url' content='')
		meta(property='og:image' content='')
		meta(property='og:description' content='')

		//favicon
		link(rel='image_src' href='')
		link(rel="shortcut icon" type="image/x-icon" href="")

		//IE
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta http-equiv="MSThemeCompatible" content="no"/>
		<![endif]-->

		//Apple
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

		<!--[if lt IE 7]>
		style.
			body > main {
				height: 100%;
			}
		<![endif]-->
					
		<!--[if lt IE 9]>
		script(src='js/libs/html5shiv.js')
		<![endif]-->

		//JS helpers 
		script(src='js/libs/helpers.js')

		//Include JS/CSS
		|<script>

		|if(/^\?debug/.test(window.location.search)){
		|console.log('[App] DEBUG MODE');

		:includeCssDev
		:includeJsDev

		|} else {

		|console.log('[App] PRODUCTION MODE (Console is disabled)');
		|$$.disableConsole();
		
		:includeCssProd
		:includeJsProd

		|};

		|</script>

		block css
			//-

		block js
			//- 
		

	body

		//- //Vkontakte openapi
		//- script(src='http://vkontakte.ru/js/api/openapi.js', type='text/javascript')
		//- //Facebook SDK 
		//- #fb-root
		//- script(src='http://connect.facebook.net/en_US/all.js')

		main(ng-controller="mainLayoutCtrl")

			// Header
			include header
			// /Header

			.views(ng-controller="viewsLayoutCtrl")

				// View
				block content
				// /View

			// Footer
			include footer
			// /Footer

		// Popups
		include popups
		// /Popups
