
/* 
	===============
	=== PROJECT ===
	===============
*/

// _________ MIXINS _________

@require '../../../mixins'
@require '../../mixins'


/* _________ FONTS _________ */

import-font($root + 'fonts/ubuntu-r-webfont','Ubuntu')


/* _________ GLOBAL _________ */

p
	font 16px $mainFont

h1
	font 36px $mainFont
h2
	font 30px $mainFont
h3
	font 24px $mainFont
h4
	font 18px $mainFont
h5
	font 14px $mainFont
h6
	font 12px $mainFont

ul
	list-style-type none

a
	text-decoration none
	outline 0

a:hover, a:active, a:focus
	outline 0

input:focus, textarea:focus, select:focus, button:focus
	outline 0

input:-webkit-autofill
	-webkit-box-shadow: 0 0 0px 50px #ededed inset


/* _________ FORM _________ */

.form
	
	input,textarea
		// -webkit-appearance none
		// -webkit-border-radius 0
	
	input:focus, textarea:focus, select:focus, button:focus
		outline 0

	input:-webkit-autofill,textarea:-webkit-autofill
		-webkit-box-shadow 0 0 0px 50px #FFF inset
		
	[data-type='text'],[data-type='password'],[data-type='textarea']
		
		borderbox()
		border 1px solid #CCC
		padding 10px 35px 10px 15px
		background #FFF
		width 100%
		
		&.error-field
			border 1px solid red
		
		&.valid
			bg 'valid.png', #FFF right 10px top 14px
			border 1px solid green !important

	[data-type='text'],[data-type='password']

		height 50px


	[data-type='textarea']

		height 150px
		
	[data-type='select']

		width 100%
		position relative
		user-select none
		background #FFF

		.selected
			overflow hidden
			height 50px
			z-index 998
			borderbox()
			position relative
			padding 15px 10px 0 10px
			background #FFF
			border 1px solid rgb(214,214,214)
			cursor pointer

			&:after
				content ''
				position: absolute
				right 10px
				top 15px
				bg "select-corner-down.png", center center
				block()
				width 16px
				height 16px

			&.default
				color #8f8f8f
		
		&.valid
			.selected
				border 1px solid green
		
		&.error-field
			.selected
				border 1px solid red

		&.open
			.selected
				&:after
					bg "select-corner-up.png", center center
		
		.options
			borderbox()
			width 100%
			z-index 999
			position absolute
			background #FFF
			border 1px solid #CCC
			margin-top -1px
			padding 10px 0

			.option
				padding 15px 15px 15px 15px 
				cursor pointer
				color #060707
				font-size 12px
				span
					width 100%
					block()
					position relative
					&:after
						content ''
						position absolute
						height 1px
						width 100%
						background #CCC
						bottom -16px
						left 0
						
				&[data-checked]
					color #a4a4a4

				&:first-child
					color #a4a4a4
					
				&:last-child
					span
						&:after
							height 0px

				&:hover
					background #CCC
					color #FFF
					span:after
						display none
						
		.scrollbar
			// background: transparent url('../img/bg-scrollbar.png') no-repeat 0 0
			position: relative
			background-position: 0 0
			float: right
			width 6px
			margin 0 5px 0 0

			&.disable
				display none

			.track
				// background: transparent url('../img/bg-scrollbar.png') no-repeat 0 100%
				position: relative
				width 6px
				height 100%

				.thumb
					background: transparent url('../img/bg-scrollbar.png') no-repeat 0 100%
					cursor pointer
					width 6px
					overflow hidden
					position absolute
					top 0

					.end
						background: transparent url('../img/bg-scrollbar.png') no-repeat 0 0
						height 5px
						width 6px
						// overflow hidden

		.viewport
			overflow hidden
			height 175px
			position relative

			.overview
				width 100%
				position absolute
				
	[data-type='checkbox']
		block(15,15)
		border 1px solid rgb(214,214,214)
		background #FFF
		cursor pointer
		&[data-checked]
			bg 'checked.png'
		&.error-field
			border 1px solid red
		
	[data-type='radio']
		block(15,15)
		border 1px solid rgb(214,214,214)
		background #FFF
		cursor pointer
		&[data-checked]
			bg 'checked.png'
		&.error-field
			border 1px solid red

	[data-submit]

		block-inline(200)
		padding 10px 20px 
		text-align center
		text-decoration none
		color #000
		background #DDD

		&.disabled
			background #A8ABAD !important
			cursor wait !important
			&:hover
				background #A8ABAD !important
			
	.label
		padding 0 0 10px 0
	
	.error
		clear both
		color red
		height 24px
		font-size 12px

	.errors
		height 30px
	
	.placeholder
		color #CCC


/* _______ PRELOADER ______ */ 

@-webkit-keyframes scale {
  0% {
            transform: scale(1);
    opacity: 1; }
  45% {
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
            transform: scale(1);
    opacity: 1; } }
@keyframes scale {
  0% {
            transform: scale(1);
    opacity: 1; }
  45% {
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
            transform: scale(1);
    opacity: 1; } }
    
.preloader
	display none

.preloader > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.preloader > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.preloader > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.preloader > div {
  background-color: #CCC;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;

}

/*_________ MAIN __________*/


html
	height 100%

body
	height 100%
	overflow-x hidden
	overflow-y auto
	font-family $mainFont
	
body > main
	
	position relative
	min-height 100%
	width 100%

	.main-container
		clearfix()
		position relative
		max-width ($mainWidth)px
		margin 0 auto
		height 100%


/*_________ HEADER __________*/

body > main > header
	clear both
	z-index 2
	width 100%
	// height 40px
	
	.inner
		padding 20px 0
		borderbox()
		height 100%



/*_________ FOOTER ___________*/

body > main > footer
	clear both
	position absolute
	bottom 0
	z-index 2
	width 100%
	height 60px
	.inner
		padding 20px 0
		borderbox()
		height 100%
		


/*__________ VIEWS _________*/

body > main > .views
		
		clear both
		padding-bottom 60px // Height of the footer	

		> .view

			position relative

			.view-content
				padding 20px 0 60px 0
				borderbox()


@require 'requires/media'



